# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/
env/

# YOLO / Models

*.pt
*.onnx

# Dataset

dataset/
*.jpg
*.png
*.mp4

# Logs

runs/
logs/

# OS files

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# Build

dist/
build/
